.restaurantpage {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: left;
    padding: 20px 80px;
  }

.font {
  font-size: 20px;
  font-weight: bold;
}

.button{
  cursor: pointer;
}

.inside{
  padding-left: 4px;
  padding-top: 1px;
  font-size: 20px;
}

.items{
  flex-direction: row;
  display: flex;
}

// .FeedbackButton{
//   // padding: 10px 10px;
//   // // margin-left: 5px;
//   // border-radius: 5px;
//   // background-color:#F8A22F;
// }

.FeedbackButton:hover{
  // padding: 10px 10px;
  // // margin-left: 5px;
  // border-radius: 5px;
  // color:#ffffff;
  // background-color:#F8A22F;
  color:#F8A22F;
}

.modal{
  background: none;
}

.a:hover{
  color:#F8A22F;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #ff9800;
}
 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #ff9800;
}

.demo {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.demo span {
  display: table-cell;
  text-align: center;
}