.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  // button {
  //   background-color: #d98d29 !important;
  //   border-color: #d98d29 !important;
  //   outline: none !important;
  //   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d98d29 !important;
  //   margin-left: auto;
  //   margin-top: 50px;
  // }

  button {
    color: #fff;
    background-color: #F8A22F;
    border-color: #f8a22f;
    outline: none;
    margin-left: auto;
    margin-top: 50px;
  }

  button:hover {
    color: #fff;
    background-color: #d98d29;
    border-color: #d98d29;
    outline: none;
  }

  button:active, .btn-primary:focus {
    color: #fff;
    background-color: #d98d29;
    border-color: #d98d29;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d98d29;
  }

  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
  }
}
