.font {
  font-size: 20px;
  font-weight: bold;
}

.button{
  cursor: pointer;
}

.new-accept{
  // color: white;
  color: black;
  font-weight: bold;
  // background-color: rgb(40, 240, 40);
  background-color: rgba(190, 211, 0, 0.9);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  // padding: 10px;
  padding: 8px 10px;
  cursor: pointer;
}
.new-accept:hover{
  background-color: rgba(158, 175, 5, 0.9);
}

.new-decline{
  color: white;
  font-weight: bold;
  // background-color: red;
  background-color: rgba(255, 0, 0, 0.9);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  // padding: 10px;
  padding: 8px 10px;
  cursor: pointer;
}
.new-decline:hover{
  background-color: rgba(220, 0, 0, 0.9);
}