.font {
  font-size: 20px;
  font-weight: bold;
}

.button{
  cursor: pointer;
}

.new-accept{
  color: white;
  font-weight: bold;
  background-color: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.new-decline{
  color: white;
  font-weight: bold;
  background-color: red;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  cursor: pointer;
}