.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom:50px;
  box-shadow: darken($color: #000000, $amount: 20);

  .logo-container {
    height: 100%;
    width: 200px;
    padding: 10px 0px;
    // padding-bottom : 225px;
  }

  .logo {
    height: 100%;
    width: 200px;
    padding: 10px 0px;
  }

  .title1 {
    font-weight: bold;
    // margin: 0 0 0;
    font-size: 25px;
    color: #000000;
  }

  .title {
    font-weight: bold;
    // margin: 0 0 0;
    font-size: 25px;
    color: #F8A22F;
  }

  .options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      display: flex;  
      align-items: right;
    }

    .option:hover {
      color: #F8A22F;
    }
  }
}

// .dropdown-tab {
//   background-color: #F8A22F;
// }

.dropdown-item:active, .dropdown-item:focus{
  // background-color: #edebeb;
  // background-color: #F8A22F;
  background-color: #f2f2f2;
  outline: none;
  // text: #ffffff;
}

// .dropdown-toggle {
//   background-color: #FFFFFF !important;
// }