.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: darken($color: #000000, $amount: 20);

  .logo-container {
    height: 100%;
    width: 210px;
    padding: 10px 15px;
    // padding: 25px;
  }

  .title1 {
    font-weight: bold;
    // margin: 0 0 0;
    font-size: 25px;
    color: #000000;
  }

  .title {
    font-weight: bold;
    // margin: 0 0 0;
    font-size: 25px;
    color: #F8A22F;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }

    .option:hover {
      color: #F8A22F;
    }
  }
}
