.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: darken($color: #000000, $amount: 20);

  .logo-container {
    height: 100%;
    width: 210px;
    padding: 25px;
  }

  .title1 {
    font-weight: bold;
    margin: 0 0 0;
    font-size: 25px;
    color: rgba($color: #000000, $alpha: 1.0);
  }

  .title {
    font-weight: bold;
    margin: 0 0 0;
    font-size: 25px;
    color: rgba($color: #F8A22F, $alpha: 1.0);
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
