.collection-page {
  display: flexbox;
  flex-direction: column;

  .title {
    position: center;
    font-size: 40px;
    margin: 0 auto 30px;
    text-transform: uppercase;
  }
  .collections-overview {
    display: flex;
    flex-direction: column;
  }
  


  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
