.restaurant-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .orders {
    font-weight: bold;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 0px 20px 20px;
    font-size: 40px;
    color: black;
  }
  
  .order {
    width: 200px;
    font-weight: bold;
    flex-direction: row;
    display: flex;
    align-items: center;
    // padding-right: 60px;
    margin: 0px 6px 0px;
    font-size: 40px;
    color: black;
  }
}

