.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message{
    font-size: 18px;
    margin :50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  // button {
  //   margin-top: auto;
  //   background-color: #d98d29 !important;
  //   border-color: #d98d29 !important;
  //   outline: none !important;
  //   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d98d29 !important;
  // }

  // button:active, button:focus {
  //   outline-color: #F8A22F;
  //   background-color: #FFFFFF;
  // }

  button {
    color: #fff;
    background-color: #F8A22F;
    border-color: #f8a22f;
    outline: none;
  }

  button:hover {
    color: #fff;
    background-color: #d98d29;
    border-color: #d98d29;
    outline: none;
  }

  button:active, button:focus {
    color: #fff;
    background-color: #d98d29;
    border-color: #d98d29;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d98d29;
  }

}
