.check {
    width: 100%;
    align-self: center;
    padding: 0px 400px;
}

.btn-primary {
    color: #fff;
    background-color: #F8A22F;
    border-color: #F8A22F;
    outline: none !important;
}

.btn-primary:hover {
    background-color: #d98d29;
    border-color: #d98d29;
    outline: none !important;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #d98d29 !important;
    border-color: #d98d29 !important;
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d98d29 !important;
}

.colorc:hover {
    color: #F8A22F;
}

.checkb {
    color: #F8A22F;
}

.input-checkbox {
    color: #F8A22F !important;
}

.input-field input[type=email]:focus + label {
    color: #F8A22F !important;
}

.input-field input[type=email]:focus {
    border-color: #F8A22F !important;
    box-shadow: 0 1px 0 0 #F8A22F !important;
}

.input-field input[type=email]:active {
    border-color: #F8A22F !important;
    box-shadow: 0 1px 0 0 #F8A22F !important;
}

.input-field input[type=password]:focus + label {
    color: #F8A22F !important;
}

.input-field input[type=password]:focus {
    border-color: #F8A22F !important;
    box-shadow: 0 1px 0 0 #F8A22F !important;
}

.input-field input[type=password]:active {
    border-color: #F8A22F !important;
    box-shadow: 0 1px 0 0 #F8A22F !important;
}

.checkbox-blue-grey[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #F8A22F;  
    background-color: #F8A22F;
}