.font {
    font-size: 20px;
    font-weight: bold;
  }
  
  .button{
    cursor: pointer;
  }
  
  .inside{
    padding-left: 4px;
    padding-top: 1px;
    font-size: 20px;
  }
  
  .items{
    flex-direction: row;
    display: flex;
  }