.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 5px;
  outline-color: #F8A22F;
  // background-color: #F8A22F;
  // border-color: #F8A22F !important;
  // outline-style: solid;

}


// .search:active, .search:focus{
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   padding: 10px 5px;
//   outline-color: #F8A22F;
//   // background-color: #F8A22F;
//   border-color: #F8A22F !important;
//   outline-color: #F8A22F !important;
//   // outline-style: solid;
  
//   // .search::placeholder {
//   //   color:#F8A22F
//   // }
// }
