.font {
  font-size: 20px;
  font-weight: bold;
}

.button{
  cursor: pointer;
}

.disp{
  color: white;
  font-weight: bold;
  background-color: green;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.pend{
  font-weight: bold;
  background-color: orange;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}